.Main {
    .Row {
        min-height: 100vh;
    }
    .Left-Panel {
        background-color: white;
    }
    .Canvas {
        background-color: grey;
    }
    .Right-Panel {
        background-color: white;
    }
}
